/* intuitivnejší box-sizing */
html { box-sizing: border-box; }
*, ::after, ::before { box-sizing: inherit; }

/*
	BARVY
	#f5f5f5					šedé pozadí stránky
	#629fe0					modrá čárka
	Jedeme retro černobíle (až na tu modrou), dnes další barvy nepotřebujeme.

	FONTY
	Merriweather		základní font na stránce
	Raleway					nadpisy a menu
	Oba fonty jsou dostupné na Google Fonts.
*/

body {
	margin: 0;
	padding: 0;
	background-color: #f5f5f5;
	font-size: 16px;
	font-family: 'Merriweather', serif;;
	text-align: center;
	line-height: 1.6;
}

.hlavicka {
	background-image: url("images/island-hlavicka.jpg");
	background-size: cover;
	background-position: center;
	color: white;
	padding: 15px;
	position: relative;

}
.hlavicka::before {
	content: '';
	background-color: black;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	opacity: 0.3;

}


h1 {
	font-family: 'Raleway', sans-serif;
	font-size: 45px;
	font-weight: 500;
}

h1,
.hlavicka p,
.uvod p,
.proc p,
.musime_videt p,
.zmena p,
.paticka p {
	position: relative;
	z-index: 1;
	padding: 15px;
}

.podpis {
	color: rgba(255, 255, 255, 0.185);
}
.menu {
	text-transform: uppercase;
	font-family: 'Raleway', sans-serif;
	font-weight: 100;

	
}
ul li {
	list-style-type: none;
	
}
.menu a {
	text-decoration: none;
	color: gray;
	border-spacing: 10px;
	font-size: 12px;
}

ul {
	padding: 0;
}

li {
	border-bottom: 0.5px solid rgba(0, 0, 0, 0.055);
	padding: 3px;
	margin: 0 40px;
}

h2,
.uvod,
.proc,
.musime_videt,
.zmena,
.paticka {
	text-align: left;
}

img {
	width: 100%;
}

h2 {
	font-family: 'Roboto', sans-serif;
	padding: 15px;
}

strong {
	font-weight: 900;
}



.cara {
	border:none;
	width: 15%;
	height: 5px;
	background-color: #629fe0;
	margin: 0;
}

.popisek,
.popisek a {
	color: grey;
	font-size: 10px;
	text-align: center;
	margin: 0;
	
}



@media (min-width:580px) {
	.mrizka {
		display: flex;
		flex-wrap: wrap;

	}

	.mrizka__polozka {
		width: 50%;
	}

}

@media (min-width:960px) {
	.mrizka {
		display: flex;
		flex-wrap: wrap;

	}

	.mrizka__polozka {
		width: calc(100% / 3);
	}
}